absl-py
aiohappyeyeballs 
aiohttp
aiosignal
ale-py
altgraph
annotated-types 
anyio 
argon2-cffi
argon2-cffi-bindings
asttokens
astunparse
async-timeout
attrs
backcall
backoff
baselines
bleach
blinker 
Brotli 
cachetools
cchardet 
certifi
cffi
charset-normalizer 
click 
cloudpickle
cmake
colorama
contourpy
cryptography 
cx-Freeze
cycler
Cython
datasets 
debugpy
decorator
defusedxml
dill
distlib
distro 
entrypoints
exceptiongroup 
executing
fairscale
fastjsonschema
filelock
fire
Flask 
flatbuffers
fonttools
frozenlist
fsspec 
gast
glfw
google-pasta
grpcio
gym-notices
h11 
h2 
h5py
hpack
httpcore 
httpx 
huggingface_hub 
hyperframe 
idna
imageio
importlib-resources
importlib_metadata 
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous 
jax
jedi
Jinja2
jiter 
keras
kiwisolver
libclang
lit
llvmlite
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
ml-dtypes
mpi4py
mpmath
mujoco
multidict
multiprocess 
natsort
nbclassic
nbclient
nbconvert
nbformat
ninja
notebook
notebook_shim
numpy 
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
openai 
opencv-python
opt-einsum
overrides
packaging
pandas 
pandocfilters
parso
patchelf
pickleshare
pillow 
pipenv
platformdirs
progressbar2
prometheus-client
prompt-toolkit
protobuf
pure-eval
pyarrow
pyarrow-hotfix 
pyasn1
pyasn1-modules
pycparser
pydantic 
pydantic_core
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyOpenGL
pyparsing
PySocks 
python-dateutil
python-utils
pytz 
PyYAML 
pyzmq
qtconsole
QtPy
regex
requests
requests-oauthlib
rsa
safetensors 
seaborn
Send2Trash
sentencepiece
six 
sniffio
soupsieve
stable-baselines
stack-data
sympy
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
terminaltables
tiktoken
tinycss2
tokenizers 
torch
torch-tb-profiler
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
triton
typing_extensions 
tzdata
urllib3 
virtualenv
wcwidth
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
xxhash 
yacs
yarl
zipp 
zmq
zstandard

